@CHARSET "ISO-8859-1";
@CHARSET "ISO-8859-1";
body
{
background-color:#f5f5f5;
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0px auto auto auto;
color:#000000;
}

.head
{
	background-color:#66cdaa;
	font-family:Algerian; 		
	margin:auto;
	margin-left:100px;
	margin-right:100px;
}
.footer
{
	background-color:#66cdaa; 		
	border-top:2px #b2b2b2 dashed;
	margin:auto;
	margin-top:350px;
	margin-left:100px;
	margin-right:100px;
}
.login
{
	margin:auto;
	margin-left:250px;
	margin-right:100px;
}
.register
{
	margin:auto;
	margin-left:100px;
	margin-right:250px;
}